<p dir = 'rtl'>    درس سوم بخش سوم </p>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Mahi/Desktop/project Pandas/Data/movies.csv', index_col='name')
df.head()

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [3]:
df.loc['A Beautiful Mind']

rating                          PG-13
genre                       Biography
year                             2001
release_date          January 4, 2002
release_country         United States
score                             8.2
votes                        871000.0
director                   Ron Howard
writer                 Akiva Goldsman
star                    Russell Crowe
country                 United States
budget                     58000000.0
gross                     316791257.0
company            Universal Pictures
runtime                         135.0
Name: A Beautiful Mind, dtype: object

In [4]:
df.loc[['A Beautiful Mind', 'Good Will Hunting']]

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
A Beautiful Mind,PG-13,Biography,2001,"January 4, 2002",United States,8.2,871000.0,Ron Howard,Akiva Goldsman,Russell Crowe,United States,58000000.0,316791257.0,Universal Pictures,135.0
Good Will Hunting,R,Drama,1997,"January 9, 1998",United States,8.3,887000.0,Gus Van Sant,Matt Damon,Robin Williams,United States,10000000.0,225933435.0,Miramax,126.0

In [5]:
df.head()

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [6]:
df.iloc[0]

rating                           R
genre                        Drama
year                          1980
release_date         June 13, 1980
release_country      United States
score                          8.4
votes                     927000.0
director           Stanley Kubrick
writer                Stephen King
star                Jack Nicholson
country             United Kingdom
budget                  19000000.0
gross                   46998772.0
company               Warner Bros.
runtime                      146.0
Name: The Shining, dtype: object

In [7]:
df.iloc[0:5]

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [8]:
df.iloc[-1]

rating                          NaN
genre                        Horror
year                           2020
release_date        August 19, 2020
release_country       United States
score                           5.7
votes                           7.0
director               Pereko Mosia
writer                 Pereko Mosia
star               Siyabonga Mabaso
country                South Africa
budget                          NaN
gross                           NaN
company                 PK 65 Films
runtime                       102.0
Name: Tee em el, dtype: object

In [9]:
df.iloc[-2]

rating                         NaN
genre                        Drama
year                          2020
release_date       October 1, 2020
release_country      United States
score                          NaN
votes                          NaN
director             James Randall
writer               James Randall
star                 Christina Roz
country              United States
budget                     15000.0
gross                          NaN
company                        NaN
runtime                      120.0
Name: It's Just Us, dtype: object

In [10]:
df.iloc[-5:]

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
More to Life,NaN,Drama,2020,"October 23, 2020",United States,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
Dream Round,NaN,Comedy,2020,"February 7, 2020",United States,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
Saving Mbango,NaN,Drama,2020,"April 27, 2020",Cameroon,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
It's Just Us,NaN,Drama,2020,"October 1, 2020",United States,NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
Tee em el,NaN,Horror,2020,"August 19, 2020",United States,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [11]:
df.sort_values(by='score', ascending=False).iloc[0:5]

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shawshank Redemption,R,Drama,1994,"October 14, 1994",United States,9.3,2400000.0,Frank Darabont,Stephen King,Tim Robbins,United States,25000000.0,2.881729e+07,Castle Rock Entertainment,142.0
The Dark Knight,PG-13,Action,2008,"July 18, 2008",United States,9.0,2400000.0,Christopher Nolan,Jonathan Nolan,Christian Bale,United States,185000000.0,1.005974e+09,Warner Bros.,152.0
The Lord of the Rings: The Return of the King,PG-13,Action,2003,"December 17, 2003",United States,8.9,1700000.0,Peter Jackson,J.R.R. Tolkien,Elijah Wood,New Zealand,94000000.0,1.146031e+09,New Line Cinema,201.0
Pulp Fiction,R,Crime,1994,"October 14, 1994",United States,8.9,1900000.0,Quentin Tarantino,Quentin Tarantino,John Travolta,United States,8000000.0,2.139288e+08,Miramax,154.0
Schindler's List,R,Biography,1993,"February 4, 1994",United States,8.9,1200000.0,Steven Spielberg,Thomas Keneally,Liam Neeson,United States,22000000.0,3.221612e+08,Universal Pictures,195.0

In [12]:
df.sort_values(by='score', ascending=False).iloc[-5:]

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Hottie & the Nottie,PG-13,Comedy,2008,"February 21, 2008",Russia,1.9,36000.0,Tom Putnam,Heidi Ferrer,Paris Hilton,United States,NaN,1596232.0,Purple Pictures,91.0
Superbabies: Baby Geniuses 2,PG,Comedy,2004,"August 27, 2004",United States,1.9,30000.0,Bob Clark,Robert Grasmere,Jon Voight,Germany,20000000.0,9448644.0,ApolloMedia Distribution,88.0
Love by Drowning,R,Drama,2020,"November 6, 2020",United States,NaN,NaN,Justin Kreinbrink,C.E. Poverman,Nicky Whelan,United States,1000000.0,NaN,Dow Jazz Films,121.0
The Robinsons,NaN,Action,2020,"November 10, 2020",United States,NaN,NaN,Directors,Aleks Alifirenko Jr.,Billy Hartmann,United States,10000.0,NaN,NaN,90.0
It's Just Us,NaN,Drama,2020,"October 1, 2020",United States,NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0

In [13]:
df.loc['Inception']

rating                         PG-13
genre                         Action
year                            2010
release_date           July 16, 2010
release_country        United States
score                            8.8
votes                      2100000.0
director           Christopher Nolan
writer             Christopher Nolan
star               Leonardo DiCaprio
country                United States
budget                   160000000.0
gross                    836836967.0
company                 Warner Bros.
runtime                        148.0
Name: Inception, dtype: object

In [14]:
df.loc['Inception']['runtime']

148.0

In [15]:
df.loc['Inception','runtime']

148.0

In [16]:
df.loc['Inception',['runtime','budget','gross']]

runtime          148.0
budget     160000000.0
gross      836836967.0
Name: Inception, dtype: object

In [17]:
df.iloc[10]

rating                              PG
genre                           Action
year                              1980
release_date         December 17, 1980
release_country          United States
score                              6.1
votes                          18000.0
director                Buddy Van Horn
writer                Stanford Sherman
star                    Clint Eastwood
country                  United States
budget                      15000000.0
gross                       70687344.0
company            The Malpaso Company
runtime                          116.0
Name: Any Which Way You Can, dtype: object

In [18]:
df.iloc[10]['runtime']

116.0

In [19]:
df.iloc[10,'runtime']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [ ]:
df.iloc[10,14]

In [ ]:
df.iloc[10,[14,11,12]]

In [ ]:
RUNTIME = 14
BUDGET = 11
GROSS = 12

df.iloc[10,[RUNTIME, BUDGET, GROSS]]

In [ ]:
df.iloc[0:5]

In [ ]:
df.loc['The Shining':'Airplane!']

In [ ]:
df.sort_index().loc['Inception':'Interstellar']

In [ ]:
df.loc['The Green Mile','runtime']

In [ ]:
%%timeit
df.loc['The Green Mile','runtime']

In [ ]:
%%timeit
df.at['The Green Mile','runtime']

In [ ]:
%%timeit
df.iat[0,RUNTIME]

In [ ]:
%%timeit
df.iloc[0,RUNTIME]

In [ ]:
s = df.score

In [ ]:
s.iloc[0]

In [ ]:
s

In [ ]:
s.loc['In Time']

In [ ]:
s.at['In Time']

In [ ]:
df2 = pd.read_csv(
        'C:/Users/Mahi/Desktop/project Pandas/Data/employees.csv',
        index_col='First Name',
        parse_dates=['Start Date'],
)
df2.head()

In [ ]:
df2.columns

In [ ]:
df2.columns = ['gender', 'start_date', 'salary', 'management', 'team']

In [ ]:
df2

In [ ]:
df2.rename(columns={'start_date':'emp_date'})

In [ ]:
df2.loc['Douglas']

In [ ]:
df2.rename(index={'Douglas':'Douglass'}, inplace=True)

In [ ]:
df2.loc['Douglass']

In [ ]:
df2.rename(index={'Douglass':'Douglas'}, inplace=True)

In [ ]:
df2.head()

In [ ]:
df3 = pd.read_csv('../Data/used_cars.csv')
df3.info()

In [ ]:
df3['Fuel'].value_counts()

In [ ]:
df3['Fuel'].astype('category')

In [ ]:
df3['Fuel'] = df['Fuel'].astype('category')
df3.info()

In [ ]:
df3['Transmission'].value_counts()

In [ ]:
df3['Transmission'] = df['Transmission'].astype('category')

In [ ]:
df3.info()

In [ ]:
df3['Manufacturer'].value_counts()

In [ ]:
df3['Manufacturer'].nunique()

In [ ]:
df3['Manufacturer'] = df['Manufacturer'].astype('category')
df3.info()

In [ ]:
16.6/7.9